.unit-card-vertical-frame {
  width: 30em;
  height: 45em;
  padding: 0.5em;
  border-radius: 4px;
  background-image: url("/assets/images/card/frame.png");
  background-size: cover;
  background-position: center;
  color: white;
  overflow: hidden;
  cursor: default;
  transition: scale 0.2s, transform 0.2s;
}

.unit-card-vertical-frame.unit-card-vertical-big {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  z-index: 2;
}

.unit-card-vertical-frame.unit-card-vertical-small {
  font-size: 0.3rem;
}

.unit-card-vertical-frame.unit-card-vertical-small:not(.no-hover):hover {
  scale: 1.6;
}

#opponent-container .unit-card-vertical-frame.unit-card-vertical-small:not(.no-hover):hover {
  transform: translateY(3.5rem);
}

#player-container .unit-card-vertical-frame.unit-card-vertical-small:not(.no-hover):hover {
  transform: translateY(-3.5rem);
}

.unit-card-vertical {
  width: 100%;
  height: 100%;
  padding: 1em;
  gap: 0.5em;
  border-radius: 4px;
  justify-content: space-between;
  background-image: url("/assets/images/card/background.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.unit-card-vertical-name {
  width: 100%;
  text-align: left;
  margin: 0;
  white-space: nowrap;
}

.unit-card-vertical-artwork-frame {
  width: 100%;
  flex: 0 0 42.86%;
  padding: 0.3em;
  border-radius: 4px;
  background-image: url("/assets/images/card/frame.png");
  background-size: cover;
  background-position: center;
}

.unit-card-vertical-artwork {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-image: url("/assets/images/placeholder.png");
  background-size: cover;
  background-position: center;
}

.unit-card-vertical-traits-affiliations {
  width: 100%;
  height: 7%;
  gap: 0.5em;
}

.unit-card-vertical-traits-frame,
.unit-card-vertical-affiliations-frame {
  height: 100%;
  padding: 0.3em;
  flex: 1;
  border-radius: 4px;
  background-image: url("/assets/images/card/frame.png");
  background-size: cover;
  background-position: center;
}

.unit-card-vertical-traits,
.unit-card-vertical-affiliations {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1em;
  background-image: url("/assets/images/card/background.png");
  background-size: cover;
  background-position: center;
}

.unit-card-vertical-traits img {
  height: 70%;
}

.unit-card-vertical-traits-tooltip-frame,
.unit-card-vertical-affiliations-tooltip-frame {
  width: 100%;
  scale: 1.05;
  padding: 0.3em;
  border-radius: 4px;
  top: 0.5em;
  background-image: url("/assets/images/card/frame.png");
  background-size: cover;
  background-position: center;
}

.unit-card-vertical-traits-tooltip,
.unit-card-vertical-affiliations-tooltip {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  padding: 0.3em;
  background-image: url("/assets/images/card/background.png");
  background-size: cover;
  background-position: center;
  gap: 0;
}

.unit-card-vertical-traits-tooltip-row {
  flex: 1;
  width: 100%;
  padding: 0.3em 0;
  gap: 1em;
  justify-content: center;
}

.unit-card-vertical-traits-tooltip-row img {
  height: 1.56em;
}

.unit-card-vertical-affiliations-tooltip p {
  margin: 0.3em;
}

.unit-card-vertical-abilities {
  width: 100%;
  flex: 1;
  gap: 0.5em;
}

.unit-card-vertical-abilities li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  transition: scale 0.1s;
}

.unit-card-vertical-abilities li:hover {
  scale: 1.08;
}

.unit-card-vertical-stats {
  width: 100%;
  justify-content: space-between;
}

.unit-card-vertical-shinsu,
.unit-card-vertical-hp {
  width: 3em;
  height: 3em;
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.unit-card-vertical-shinsu {
  background-image: url("/assets/images/card/shinsu-frame.png");
}

.unit-card-vertical-hp {
  background-image: url("/assets/images/card/hp-frame.png");
}

.unit-card-vertical-positions {
  flex: 1;
  height: 70%;
  flex-direction: row;
  justify-content: space-around;
}

.unit-card-vertical-positions li {
  height: 100%;
  background-image: url("/assets/images/placeholder.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
