.card-frame {
  width: 30rem;
  height: 45rem;
  padding: 0.5rem;
  border-radius: 4px;
  background-image: url("/assets/images/card/frame.png");
  background-size: cover;
  background-position: center;
  color: white;
  overflow: hidden;
}

.card {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 4px;
  justify-content: space-between;
  background-image: url("/assets/images/card/background.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.card-name {
  width: 100%;
  text-align: left;
  margin: 0;
}

.card-artwork-frame {
  width: 100%;
  flex: 0 0 42.86%;
  padding: 0.3rem;
  border-radius: 4px;
  background-image: url("/assets/images/card/frame.png");
  background-size: cover;
  background-position: center;
}

.card-artwork {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-image: url("/assets/images/artworks/placeholder.png");
  background-size: cover;
  background-position: center;
}
.card-traits-affiliations {
  width: 100%;
  height: 5%;
}

.card-traits-frame,
.card-affiliations-frame {
  height: 100%;
  padding: 0.3rem;
  flex: 1;
  border-radius: 4px;
  background-image: url("/assets/images/card/frame.png");
  background-size: cover;
  background-position: center;
}

.card-traits,
.card-affiliations {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("/assets/images/card/background.png");
  background-size: cover;
  background-position: center;
}

.card-abilities {
  width: 100%;
  flex: 1;
}

.card-abilities li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.card-stats {
  width: 100%;
  justify-content: space-between;
}

.card-shinsu,
.card-positions,
.card-hp {
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.card-shinsu {
  background-image: url("/assets/images/card/shinsu-frame.png");
}

.card-positions {
  flex: 1;
  /* background-image: url("/assets/images/card/shinsu-frame.png"); */
}

.card-hp {
  background-image: url("/assets/images/card/hp-frame.png");
}
