#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 0;
  background-image: url("/assets/images/board/background.png");
  background-size: cover;
  background-position: center;
}

.side-container {
  width: 100%;
  gap: 0;
  justify-content: space-between;
  flex: 1;
}
.side-container > * {
  height: 100%;
  flex: 1;
  gap: 0;
}
.side-container > :nth-child(1) {
  max-width: 3%;
}
.side-container > :nth-child(2) {
  max-width: 10%;
}
.side-container > :nth-child(3) {
  max-width: 42%;
}
.side-container > :nth-child(4) {
  max-width: 42%;
}

.combat-indicators-container {
  height: auto;
  padding: 1% 0 0 0.5%;
  gap: 0.6rem;
}

.combat-indicators-container img {
  width: 100%;
  height: auto;
}

.deck-container,
.lighthouse-container,
.hand-container {
  flex: 1;
  width: 100%;
  gap: 0;
}

.deck-container {
  position: relative;
  flex: 0 0 55%;
}

.deck-card {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.lighthouse-container {
  justify-content: center;
  overflow: hidden;
}
.lighthouse-container img {
  width: auto;
  height: auto;
  max-width: 70%;
  max-height: 70%;
}
.lighthouse-container h1 {
  width: 30%;
  font-size: 3rem;
  margin: 0;
  color: white;
}

.board-frame {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border: 1px solid black;
  gap: 0.5rem;
  background-image: url("/assets/images/card/frame.png");
  background-size: cover;
  background-position: center;
}
#opponent-container .board-frame {
  border-bottom: none;
  padding-bottom: 0;
}
#player-container .board-frame {
  border-top: none;
  padding-top: 0;
}

.backline-container,
.frontline-container {
  width: 100%;
  flex: 1;
  border: 1px solid black;
  gap: 0.3rem;
  padding: 0.3rem;
  background-image: url("/assets/images/board/background.png");
  background-size: auto 100vh;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
}
.backline-container > *,
.frontline-container > * {
  height: 100%;
  flex: 1;
  max-width: 11rem;
}
#opponent-container .frontline-container {
  border-bottom: none;
}
#player-container .frontline-container {
  border-top: none;
}

.position-drop-zone {
  height: 100%;
  background-image: url("/assets/images/board/position-drop-zone.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: auto;
  border-radius: 0.8rem;
}
.position-drop-zone:hover {
  box-shadow: 0 0 10px 5px rgb(255, 255, 0) inset;
}
.position-drop-zone-icon {
  height: 100%;
  width: 45%;
  background-image: url("/assets/icons/positions/lightbearer.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.hand-container {
  gap: 0;
  justify-content: start;
}
.hand-container .focused:not(.no-focus) {
  z-index: 2;
}

.shinsu-container {
  flex: 1;
  width: 100%;
  justify-content: center;
}

.shinsu-circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid black;
  background-size: cover;
  background-position: center;
  background-image: url("/assets/images/placeholder.png");
}
.shinsu-circle.available {
  background-image: url("/assets/icons/shinsu-states/available.png");
}
.shinsu-circle.unavailable {
  background-image: url("/assets/icons/shinsu-states/unavailable.png");
}
.shinsu-circle.spent {
  background-image: url("/assets/icons/shinsu-states/spent.png");
}

.shinsu-separator {
  width: 2px;
  height: 45%;
  background-color: black;
}

hr {
  width: 100%;
  min-height: 8px;
  margin: 0;
  padding: 0;
  background-image: url("/assets/images/card/frame.png");
  background-size: cover;
  background-position: center;
  border: 1px solid black;
  /* border: none; */
}

.card-dragging {
  display: block;
  pointer-events: none;
  position: absolute;
  top: -9999px;
  margin: 0 !important;
  scale: 1;
  opacity: 1;
  z-index: 10;
  cursor: pointer;
}
