#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 0;
  background-image: url("/assets/images/board/background.png");
  background-size: cover;
  background-position: center;
}

.side-container {
  width: 100%;
  gap: 1%;
  flex: 1;
}
.side-container > * {
  height: 100%;
  flex: 0 0 0;
  gap: 0;
}
.side-container > :nth-child(1) {
  flex-basis: 3%;
}
.side-container > :nth-child(2) {
  flex-basis: 16%;
}
.side-container > :nth-child(3) {
  flex-basis: 46%;
}
.side-container > :nth-child(4) {
  flex-basis: 34%;
}

.combat-indicators-container {
  height: auto;
  padding-left: 0.5%;
  gap: 1rem;
}

.combat-indicators-container img {
  width: 100%;
  height: auto;
}

.deck-container,
.lighthouse-container,
.hand-container {
  flex: 1;
  width: 100%;
  gap: 0;
}

.deck-container {
  position: relative;
  flex: 0 0 55%;
}

.deck-card {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.lighthouse-container {
  justify-content: center;
  overflow: hidden;
}
.lighthouse-container img {
  width: auto;
  height: auto;
  max-width: 70%;
  max-height: 70%;
}
.lighthouse-container h1 {
  width: 30%;
  font-size: 3rem;
  margin: 0;
  color: white;
}

.backline-container,
.frontline-container {
  width: 100%;
  flex: 1;
}

.hand-container {
  gap: 0;
  justify-content: start;
}

.shinsu-container {
  flex: 1;
  width: 100%;
  justify-content: center;
}

.shinsu-circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid black;
  background-size: cover;
  background-position: center;
  background-image: url("/assets/images/placeholder.png");
}
.shinsu-circle.available {
  background-image: url("/assets/icons/shinsu-states/available.png");
}
.shinsu-circle.unavailable {
  background-image: url("/assets/icons/shinsu-states/unavailable.png");
}
.shinsu-circle.spent {
  background-image: url("/assets/icons/shinsu-states/spent.png");
}

.shinsu-separator {
  width: 2px;
  height: 45%;
  background-color: black;
}

hr {
  width: 100%;
  min-height: 8px;
  margin: 0;
  padding: 0;
  background-image: url("/assets/images/card/frame.png");
  background-size: cover;
  background-position: center;
  border: 1px solid black;
}
